out
out-cov
dist
node_modules
*.vsix
server
analyzers
.vscode-test
coverage
its/userdir
!its/userdir/User
!its/userdir/User/settings.json
test/userdir
!test/userdir/User
!test/userdir/User/settings.json
