.vscode/
.vscode-test/
out/
out-cov/
test/
src/
**/*.map
.gitignore
tsconfig.json
gulpfile.js
node_modules
webpack.config.js
sonarlint-vscode.code-workspace
coverage/
its/
dogfood/
scripts/
.azure-pipelines
azure-pipelines.yml

