.vscode/
.vscode-test/
out/
out-cov/
test/
src/
**/*.map
.gitignore
tsconfig.json
node_modules
!node_modules/@vscode/webview-ui-toolkit/dist/toolkit.min.js
webpack.config.js
sonarlint-vscode.code-workspace
coverage/
its/
dogfood/
scripts/
.github/
.idea/
.cirrus/
.cirrus.star
.cirrus.yml
build-sonarlint/
