# Mend agent config for sonarlint-vscode

# Mend documentation: https://docs.mend.io/en-US/bundle/unified_agent/page/getting_started_with_the_unified_agent.html

# Exclude tests - only scan product code
excludes=**/*sources.jar **/*javadoc.jar its/** test/** dogfood/** .vscode-test/**
fileSystemScan=False
resolveAllDependencies=False

npm.includeDevDependencies=True
npm.resolveDependencies=True
npm.resolveLockFile=False
npm.runPreStep=False
npm.yarnProject=True

wss.url=https://saas-eu.whitesourcesoftware.com/agent

forceUpdate=true
checkPolicies=true
forceUpdate.failBuildOnPolicyViolation=false

# Override product name instead of repository fullname
productName=SonarLint/VSCode
