# WhiteSource agent config for sonarlint-vscode

# WhiteSource documentation https://whitesource.atlassian.net/wiki/spaces/WD/pages/1544880156/Unified+Agent+Configuration+Parameters

# Exclude tests - only scan product code
excludes=**/*sources.jar **/*javadoc.jar its/** test/** dogfood/** .vscode-test/**
fileSystemScan=False
resolveAllDependencies=False

npm.includeDevDependencies=True
npm.resolveDependencies=True
npm.resolveLockFile=False
npm.runPreStep=False
npm.yarnProject=True

wss.url=https://saas-eu.whitesourcesoftware.com/agent

forceUpdate=true
checkPolicies=true
forceUpdate.failBuildOnPolicyViolation=false
