name: credentials-sanity-check

on:
  workflow_dispatch:

jobs:
  check-credentials:
    permissions:
      id-token: write
      contents: write
    runs-on: github-ubuntu-latest-s
    name: Check release credentials are valid
    env:
      ARTIFACTORY_URL: https://repox.jfrog.io/artifactory
    steps:
      - name: Checkout custom actions
        uses: actions/checkout@v3
        with:
          clean: false
      - name: Use Node 18
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Get vault secrets
        id: secrets
        uses: SonarSource/vault-action-wrapper@dc8fe04652687f7278f3ecd27905967836bab0eb # tag=2.7.4-1
        with:
          secrets: |
            development/artifactory/token/{REPO_OWNER_NAME_DASH}-private-reader access_token | ARTIFACTORY_ACCESS_TOKEN;
            development/kv/data/visualstudio VSCE_TOKEN | VISUALSTUDIO_PAT;
            development/team/sonarlint/kv/data/openvsx token | OPENVSX_TOKEN;

      - name: Cache NPM dependencies
        uses: SonarSource/gh-action_cache@v1
        with:
          path: |
            ~/.npm
            node_modules/
          key: npm-${{ runner.os }}-credcheck-${{ hashFiles('.github/actions/vsce-publish/package-lock.json', '.github/actions/ovsx-publish/package-lock.json') }}
          restore-keys: npm-${{ runner.os }}-credcheck-

      - name: Check marketplace publisher personal access token
        if: ${{ !cancelled() }}
        env:
          ARTIFACTORY_ACCESS_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault).ARTIFACTORY_ACCESS_TOKEN }}
          VSCE_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault).VISUALSTUDIO_PAT }}
        working-directory: ./.github/actions/vsce-publish
        run: |
          cp ${GITHUB_WORKSPACE}/.github/scripts/.npmrc ./.npmrc
          npm install
          npx vsce verify-pat -p "${VSCE_TOKEN}" SonarSource

      - name: Check Microsoft marketplace publisher personal access token
        if: ${{ !cancelled() }}
        env:
          ARTIFACTORY_ACCESS_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault).ARTIFACTORY_ACCESS_TOKEN }}
          OPENVSX_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault).OPENVSX_TOKEN }}
        working-directory: ./.github/actions/ovsx-publish
        run: |
          cp ${GITHUB_WORKSPACE}/.github/scripts/.npmrc ./.npmrc
          npm install
          npx ovsx verify-pat -p "${OPENVSX_TOKEN}" SonarSource

      - name: Check Artifactory reader token
        if: ${{ !cancelled() }}
        env:
          ARTIFACTORY_ACCESS_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault).ARTIFACTORY_ACCESS_TOKEN }}
        run: |
          curl -L -s -o /dev/null \
            -w '%{http_code}\n' \
            -H "Authorization: Bearer ${ARTIFACTORY_ACCESS_TOKEN}" \
            "${ARTIFACTORY_URL}/sonarsource-releases/org/sonarsource/sonarlint/vscode/sonarlint-vscode"
